/**
 * dropdown
 */
.jplist-dd{
  width: 200px;
  background: #efefef;
  color: #575757;
  font-size: 13px;
  border-radius: 2px;

  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
}

.jplist-dd-panel{
  text-align: center;
  font-size: 15px;
  padding: 5px 7px;
  transition: color 0.5s;
  box-sizing: border-box;
  user-select: none;
}

.jplist-dd-panel::after{
  content: '\25BC';
  display: inline-block;
  float: right;
  transition: transform 0.5s;
  color: #a5a5a5;
}

.jplist-dd-panel.jplist-dd-opened::after{
  transform: rotate(180deg);
}

.jplist-dd-panel:hover{
  color: #000;
}

.jplist-dd-content{
  display: none;
}

.jplist-dd-content.jplist-dd-opened{
  display: flex;
  flex-direction: column;
  width: 100%;
  top: 100%;
  left: 0;
  box-shadow: 3px 5px 5px #e0e0e0;
  position: absolute;
  background: #f5f5f5;
  box-sizing: border-box;
  z-index: 1000;
}

.jplist-dd-item{
  border-bottom: 1px dotted #ccc;
  box-sizing: border-box;
  padding: 5px 15px;
  transition: background-color 0.5s;
}

.jplist-dd-item:hover{
  background-color: #fff;
  color: #000;
}

.jplist-dd-item:last-child{
  border: 0;
}