.mountain-img{
    height: 150px;
    overflow: hidden;
    width: 100%;
    position: relative;
}

.mountain-img img{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.card{
    height: 100%;
}

[data-jplist-control="buttons-path-filter"].jplist-selected{
    background-color: #007bff;
    border-color: #007bff;
}